/* Variables */
:root {


    --primary1000: rgba(14, 32, 50, 1);
    --primary900: rgba(29, 64, 99, 1);
    --primary800: rgba(43, 96, 149, 1);
    --primary600: rgba(72, 160, 248, 1);
    --primary500: rgba(109, 179, 249, 1);
    --primary400: rgba(145, 198, 251, 1);
    --primary300: rgba(182, 217, 252, 1);
    --primary200: rgba(218, 236, 254, 1);
    --primary100: rgba(237, 246, 254, 1);
    --primarybackground: rgba(248, 251, 255, 1);

    --neutral1000: rgba(10, 12, 14, 1);
    --neutral900: rgba(24, 34, 47, 1);
    --neutral800: rgba(30, 42, 59, 1);
    --neutral700: rgba(39, 54, 75, 1);
    --neutral600: rgba(71, 85, 105, 1);    
    --neutral500: rgba(100, 116, 139, 1);
    --neutral400: rgba(148, 163, 184, 1);    
    --neutral300: rgba(203, 212, 225, 1);    
    --neutral200: rgba(226, 232, 240, 1);    
    --neutral100: rgba(241, 244, 249, 1);
    --neutral05: rgba(245, 248, 251, 1);

    --black-squeeze: rgba(243, 250, 251, 1);
    --carnation: rgba(244, 85, 100, 1);
    --chelsea-cucumber: rgba(125, 185, 80, 1);
    --desert-storm: rgba(248, 248, 248, 1);
    --elm: rgba(22, 123, 136, 1);
    --eastern-blue: rgba(27, 154, 170, 1);
    --chablis: rgba(254, 243, 243, 1);
    --texas-rose: rgba(255, 181, 92, 1);
    --sunglow: rgba(255, 199, 72, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);


    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
    --font-family-inter: "Inter";
    --font-family-nunito_sans: "Nunito Sans";
    --font-family-roboto: "Roboto";
    --font-family-source_code_pro: "Source Code Pro";
}

/* Classes */
.text-title_bold--20px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
}

.text-title_bold--16px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
}

.text-capture_regular--14px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s);
    font-weight: 500;
    line-height: 20px;
}



.nunitosans-semi-bold-ebony-clay-20px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}

.nunitosans-semi-bold-storm-gray-16px {
    color: var(--neutral500);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.nunitosans-bold-fiord-16px {
    color: var(--neutral600);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.sourcecodepro-normal-blueberry-16px {
    color: var(--primary600);
    font-family: var(--font-family-source_code_pro);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-normal-mischka-16px {
    color: var(--neutral300);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.roboto-normal-pewter-blue-14px {
    color: var(--neutral400);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-semi-bold-ebony-clay-16px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.nunitosans-semi-bold-blueberry-16px {
    color: var(--primary600);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.inter-normal-storm-gray-12px {
    color: var(--neutral500);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-normal-pewter-blue-14px {
    color: var(--neutral400);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-normal-pewter-blue-16px {
    color: var(--neutral400);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-normal-elm-14px {
    color: var(--elm);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-semi-bold-ebony-clay-24px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}

.sourcecodepro-normal-white-16px {
    font-family: var(--font-family-source_code_pro);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-normal-pewter-blue-16px-2 {
    color: var(--neutral400);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: italic;
}

.nunitosans-bold-pewter-blue-14px {
    color: var(--neutral400);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
}

.nunitosans-bold-pewter-blue-16px {
    color: var(--neutral400);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.sourcecodepro-normal-firefly-16px {
    color: var(--primary1000);
    font-family: var(--font-family-source_code_pro);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-bold-ebony-clay-16px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunitosans-normal-storm-gray-16px {
    color: var(--neutral500);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.roboto-semi-bold-fiord-16px {
    color: var(--neutral600);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.nunitosans-normal-fiord-14px {
    color: var(--neutral600);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-semi-bold-blueberry-14px {
    color: var(--primary600);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s);
    font-weight: 600;
    font-style: normal;
}

.inter-normal-storm-gray-10px {
    color: var(--neutral500);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.nunitosans-bold-ebony-clay-32px {
    color: var(--neutral800);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    font-style: normal;
}