  @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,400italic,600|Roboto:400,600|Inter:400|Source+Code+Pro:400");
  @import url(./_variable.css);
  @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,400italic,600|Roboto:400,600|Inter:400|Nunito:700");

  .item {
      align-items: flex-start;
      background-color: var(--white);
      border: 1.5px solid;
      border-color: var(--neutral100);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      padding: 16px 24px;
      width: 976px;
  }
  
